  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


// notfound page styling 
$scans: #9BEBB4;
$exits: #FDACAA;
$discrepancies: #C4C8CF;
$net-changed: #BEDCFE;
$primary-bg:#ffffff;
$font-size-base: 16px;
$font-size-xs:14px;
$font-size-xxs:12px;
$w-small:400;
$w-medium:500;
$w-mediumplus:600;
$base-heading:20px;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.layout{
  display: flex;
  justify-content: space-between;

}

.children-container{
    margin: 0;
    width: 77%;
    padding: 1rem;
    // background-color: orange;
}

.sidebar-container{
  width: 23%;
  padding: 0rem;
  background-color: #F3F4F6;
  min-height: 100vh;
  box-shadow: 0px 0px 4px 1px #0000001a;
  .base-heading{
    font-size: $base-heading;
    padding: 0.25rem 0;
    margin: 1rem 0.5rem;
  }

  h5{
    color: #525C6A;
    padding: 0px 0.5rem;
    margin: 0;
  }
  
}




.display-side-nav-parent{
  background-color: $primary-bg;
  border: 1px solid #0000002a;
  border-radius: 3px;
  margin: 2px 3px;
  padding: 10px 8px;

  p{
    margin: 0;padding: 0;
    font-weight: $w-mediumplus;
    font-size: $font-size-xs;
  }
}

.mobile-navbar-container{
  width: 250px;
  padding: 0rem;
  background-color: #F3F4F6;
  min-height: 100%;
  box-shadow: 0px 0px 4px 1px #0000001a;
  position: absolute;
  right: 0;
  top: 42px;
  .base-heading{
    font-size: $base-heading;
    padding: 0.25rem 0;
    margin: 1rem 0.5rem;
  }

  h5{
    color: #525C6A;
    padding: 0px 0.5rem;
    margin: 0;
  }
  
}

.display-side-nav-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.chart-headers{
  .emp-b-movement{
    font-size: $font-size-xs;
    border: 1px solid #0000001a;
    width: fit-content;
    padding: 0.5rem;
    font-weight: $w-mediumplus;
    border-radius: 3px;
  }
.chart-options-parent{
  display: flex;
  align-items: center;
  gap: 1rem;

}
.chart-options-child{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: $font-size-xs;
  font-weight: $w-mediumplus;
  border-radius: 3px;
  padding: 0.5rem ;
  border: 1px solid #0000001a;
p{
  margin:0
}
}
}



.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  .not-found-heading {
    font-size: 48px;
    margin-bottom: 16px;
    color: red;
  }
  
  .not-found-text {
    font-size: 18px;
    color: #888;
  }
  